<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="Environment" value="prod" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Api:BaseUrl" value="https://services.cadburyinventor.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <EnvironmentContext  xdt:Transform="Replace">
    <Environments>
      <Environment name="Shared">
        <Sites>
          <!--Start - Generic Configuration-->
          <Site name="Shared">
            <Configs>
              <add key="FBShare:AppId" value="" />
              <add key="FBShare:Site_Name" value="Cadbury Inventor Vote" />
              <add key="FBShare:Image_Alt" value="Cadbury Inventor Vote" />
              <add key="FBShare:Title" value="Cadbury Inventor Vote" />
              <add key="FBShare:Description" value="Which limited edition will you go madbury for?" />
              <add key="Legal:PrivacyNoticeLink" value="https://eu.mondelezinternational.com/privacy-notice?siteId={0}" />
              <add key="Legal:ContactUsLink" value="https://contactus.mdlzapps.com/form?siteId={0}" />
              <add key="Legal:CookiePolicyLink" value="https://www.cadbury.co.uk/cookies" />
              <add key="Legal:TermsOfUseLink" value="https://www.cadbury.co.uk/terms" />
            </Configs>
          </Site>
          <!--End - Generic Configuration-->
          <!--Start - Culture relative configuration-->
          <Site name="GB" culture="en-GB" domain="com">
            <Configs>
              <add key="GtmId" value="GTM-THCNT75" />
              <add key="Google_SV" value="myPvSf0zMB7n-b2HS61RGc5NtrXsdzTKlapOC5J988U" />
              <add key="GATrackingCode" value="UA-72054784-49" />
              <add key="Mldz:SiteId" value="nJH4gA857sMlMfrrrJf4DPO0P1zS5On6zk98F64ymos%3d" />
              <add key="Captcha:SiteKey" value="6LeVKaUUAAAAAE7LBzGKVGz2_lYqm4LIJ49FAu9k" />
              <add key="Meta_Title" value="Cadbury Inventor{0}" />
              <add key="Meta_Keywords" value="Cadbury, vote, chocolate" />
              <add key="Meta_Description" value="Which limited edition will you go madbury for?" />
            </Configs>
          </Site>
          <Site name="UK" culture="en-GB" domain="net">
            <Configs>
              <add key="GtmId" value="GTM-THCNT75" />
              <add key="Google_SV" value="myPvSf0zMB7n-b2HS61RGc5NtrXsdzTKlapOC5J988U" />
              <add key="GATrackingCode" value="UA-72054784-49" />
              <add key="Mldz:SiteId" value="nJH4gA857sMlMfrrrJf4DPO0P1zS5On6zk98F64ymos%3d" />
              <add key="Captcha:SiteKey" value="6LeVKaUUAAAAAE7LBzGKVGz2_lYqm4LIJ49FAu9k" />
              <add key="Meta_Title" value="Cadbury Inventor{0}" />
              <add key="Meta_Keywords" value="Cadbury, vote, chocolate" />
              <add key="Meta_Description" value="Which limited edition will you go madbury for?" />
            </Configs>
          </Site>
          <!--Start - Culture relative configuration-->
        </Sites>
      </Environment>
      <Environment name="Local" domain="local">
        <Sites>
          <!--Start - Environment relative configuration-->
          <Site name="Shared">
            <Configs>
              <add key="FBShare_Image" value="" />
              <add key="FBShare_Image_Secure" value="" />
            </Configs>
          </Site>
          <!--End - Environment relative configuration-->
          <!--Start - Culture and environment relative configuration-->
          <Site name="GB" culture="en-GB" domain="com">
            <Configs>
            </Configs>
          </Site>
          <Site name="UK" culture="en-GB" domain="net">
            <Configs>
            </Configs>
          </Site>
          <!--End - Culture and environment relative configuration-->
        </Sites>
      </Environment>
      <Environment name="Production" domain="local.prod">
        <Sites>
          <!--Start - Environment relative configuration-->
          <Site name="Shared">
            <Configs>
              <add key="FBShare_Image" value="" />
              <add key="FBShare_Image_Secure" value="" />
            </Configs>
          </Site>
          <!--End - Environment relative configuration-->
          <!--Start - Culture and environment relative configuration-->
          <Site name="GB" culture="en-GB" domain="com">
            <Configs>
            </Configs>
          </Site>
          <Site name="UK" culture="en-GB" domain="net">
            <Configs>
            </Configs>
          </Site>
          <!--End - Culture and environment relative configuration-->
        </Sites>
      </Environment>
    </Environments>
  </EnvironmentContext>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <customErrors xdt:Transform="Replace" mode="On" defaultRedirect="/Error.htm"/>
  </system.web>
  <system.webServer>
    <httpErrors xdt:Transform="Replace" errorMode="Custom">
      <remove statusCode="404" />
      <error statusCode="404" path="/error-404" responseMode="ExecuteURL" />
      <remove statusCode="500" />
      <error statusCode="500" path="/error-500" responseMode="ExecuteURL" />
    </httpErrors>
  </system.webServer>
</configuration>