<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  
  <connectionStrings>
    <add name="Local" connectionString="data source={{productionDbServerName}};UID={{productionDbUser}};PWD={{productionDbPassword}};initial catalog={{productionDbName}};" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="LocalElmah" connectionString="data source={{productionDbServerName}};UID={{productionDbUser}};PWD={{productionDbPassword}};database={{productionDbName}}.Elmah;" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="LocalHangfire" connectionString="data source={{productionDbServerName}};UID={{productionDbUser}};PWD={{productionDbPassword}};database={{productionDbName}}.Hangfire;" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="Production" connectionString="data source={{productionDbServerName}};UID={{productionDbUser}};PWD={{productionDbPassword}};initial catalog={{productionDbName}};" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="ProductionElmah" connectionString="data source={{productionDbServerName}};UID={{productionDbUser}};PWD={{productionDbPassword}};database={{productionDbName}}.Elmah;" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="ProductionHangfire" connectionString="data source={{productionDbServerName}};UID={{productionDbUser}};PWD={{productionDbPassword}};database={{productionDbName}}.Hangfire;" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>

  <appSettings>
    <add key="Environment" value="prod" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>

  <EnvironmentContext xdt:Transform="Replace">
    <Environments>
      <Environment name="Shared">
        <Sites>
          <!--Start - Generic Configuration-->
          <Site name="Shared">
            <Configs>
              <add key="CSX:Consumer:BaseUrl" value="https://consumer.procampaignapi.com" />
              <add key="CSX:Consumer:ParticipationPath" value="Consumer" />
              <add key="CSX:Consumer:SourceName" value="{{promotionSourceName}}" />
              <add key="CSX:Consumer:TransactionName" value="{{promotionTransactionName}}" />
              <add key="CSX:Api:BaseUrl" value="https://api.procampaignapi.com" />
              <add key="CSX:Api:DocumentPath" value="Consumer/Documents" />
              <add key="CSX:Api:ListName" value="Privacy_Policy_EN" />
              <add key="CSX:Api:DocumentName" value="PrivacyPolicy_EN" />
              <add key="CSX:Api:ApiKey" value="S1JBRlQuSU5UTCBWN3xNT1paMTgwMTAy" />
            </Configs>
          </Site>
          <!--End - Generic Configuration-->
          <!--Start - Culture relative configuration-->
          <Site name="GB" culture="en-GB" domain="com">
            <Configs>
            </Configs>
          </Site>
          <Site name="IE" culture="en-IE" domain="ie">
            <Configs>
            </Configs>
          </Site>
          <!--Start - Culture relative configuration-->
        </Sites>
      </Environment>
      <Environment name="Local" domain="local">
        <Sites>
          <!--Start - Environment relative configuration-->
          <Site name="Shared">
            <Configs>
            </Configs>
          </Site>
          <!--End - Environment relative configuration-->
          <!--Start - Culture and environment relative configuration-->
          <Site name="GB" culture="en-GB" domain="co.uk">
            <Configs>
              <add key="CSX:Consumer:ApiKey" value="{{Country Specific Api Key}}" />
              <add key="CSX:Consumer:ApiSecret" value="{{Country Specific Api Secret}}" />
            </Configs>
          </Site>
          <Site name="IE" culture="en-IE" domain="ie">
            <Configs>
              <add key="CSX:Consumer:ApiKey" value="{{Country Specific Api Key}}" />
              <add key="CSX:Consumer:ApiSecret" value="{{Country Specific Api Secret}}" />
            </Configs>
          </Site>
          <!--End - Culture and environment relative configuration-->
        </Sites>
      </Environment>
      <Environment name="Production" domain="local.prod">
        <Sites>
          <!--Start - Environment relative configuration-->
          <Site name="Shared">
            <Configs>
            </Configs>
          </Site>
          <!--End - Environment relative configuration-->
          <!--Start - Culture and environment relative configuration-->
          <Site name="GB" culture="en-GB" domain="co.uk">
            <Configs>
              <add key="CSX:Consumer:ApiKey" value="{{Country Specific Api Key}}" />
              <add key="CSX:Consumer:ApiSecret" value="{{Country Specific Api Secret}}" />
            </Configs>
          </Site>
          <Site name="IE" culture="en-IE" domain="ie">
            <Configs>
              <add key="CSX:Consumer:ApiKey" value="{{Country Specific Api Key}}" />
              <add key="CSX:Consumer:ApiSecret" value="{{Country Specific Api Secret}}" />
            </Configs>
          </Site>
          <!--End - Culture and environment relative configuration-->
        </Sites>
      </Environment>
    </Environments>
  </EnvironmentContext>
  
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  
</configuration>